html,
body {
    font-family: 'Archivo Narrow', 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
}


a {
    color: inherit;
    text-decoration: none;

}

.section,
.header {
    min-height: 100vh;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url("../img/my_photos/laugh.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
   /* -webkit-filter: opacity(80%); /* Safari */
   /* filter: opacity(80%);
    position: fixed;
    top:0;
    left:0;*/
}

.logo {
    min-height: 100vh;
}

.purple {
     background-color: #461D7C;
     color: #fff;
}
.school-entry {
    color: #461D7C;
}
.work-entry {
    color: #3F51B5;
}

.writing a,
.writing button,
.writing div {
    color: #009688;
}
.dev a,
.dev button,
.dev div {
    color: #4CAF50;
}

.writeImage, .devImage {
    max-height: 66%;
}
.writing, .dev {
    height: 66%;
}
.jobImage, .schoolImage {
    width: 100%;
    height: auto;
}
.mobileSection {
    min-height: 50vh;
    min-width: 50vw;
}