html,body,.sb-site,.sb-site-container,.sb-slidebar{
    margin:0;
     padding:0;
     box-sizing:border-box;
}
html,body{
    width:100%;
    overflow-x:hidden;
	word-wrap: break-word;
}
html{
    height:100%;
}
html,body,div,span,h3,h4,h5,h6,p,a,img,ol,ul,li,form,label,button,input,select,textarea{
	margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    font-family:Raleway,Georgia,Times,'Times New Roman',serif;
    background:transparent;
}
body{
    min-height:100%;
     height:auto;
     position:relative;
     width:100%;
}
img{
    width:100%;
     height:100%;
     margin-top:0;
}
a{
    color:#8cb1ff;
    font-family:Raleway,Georgia,Times,'Times New Roman',serif;
    word-wrap: break-word;
}
.sb-site,.sb-site-container{
    width:100%;
     position:relative;
     z-index:1;
     background-color:#fff;
}
.sb-slide,.sb-site,.sb-site-container,.sb-slidebar{
    transition:-webkit-transform 400ms ease,left,right;
     -webkit-transition:-webkit-transform 400ms ease,left,right;
     -webkit-backface-visibility:hidden;
}
.container-fluid{
    text-align:center;
     padding:0;
     margin:0;
}
.row{
    margin:0;
     padding:0;
}
.name{
    text-align:center;
    font-size:4em;
    color: #000;
}
.topContacts{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    color: #000;
}
a.contact{
    color:#000;
     text-decoration:underline;
}
.choices{
    display:inline;
     padding:0;
}
.col-md-6{
    display:inline;
     padding:0;
}
.sb-slidebar{
    height:100%;
     overflow-y:auto;
     position:fixed;
     top:0;
     z-index:0;
     display:none;
     -webkit-transform:translate(0px);
     background-color:#222;
     width:20%;
}
.sb-left{
    left:0;
}
.sb-width-wide{
    width:35%;
}
h2{
    color: rgb(250,250,250);
}
.work-entry,.education-entry,.project-entry,.writing-entry{
    width:100%;
     color:#fff;
     margin-bottom:10%;
     font-family:'Merriweather Sans',Georgia,Times,'Times New Roman',serif;
}
.sb-left2{
    left:0;
}
.project-image{
    border:1px solid #8cb1ff;
     display:block;
     width:50%;
     margin-left:25%;
}
.sb-right{
    right:0;
}
.online-entry{
    font-family:'Merriweather Sans',Georgia,Times,'Times New Roman',serif;
     color:#fff;
}
.sb-right2{
    right:0;
}
.captions{
    width: 100%;
     text-align: center;
     font-size: 1.5em;
     margin: 0;
     padding: 0 1em 0 3em;
}
img{
    width: 100%;
     height: 100%;
     margin-top: 0;
}
hr{
    margin-left: 10%;
     margin-right: 10%;
     border-style: outset;
     border-width: 3px;
}
.logo{
    text-align: center;
     width:10%;
     height: auto;
}
.clear{
    padding: 0 100%;
}
.tiny{
    display: none;
}

@media screen and (max-width: 992px) {
	img {
		width: 45%;
	}
}

@media screen and (max-width: 480px){
    .captions{
        display:none;
    }
    img{
        width: 100%;
    }
    hr{
        display: none;
    }
    .project-image{
        margin: 0;
         width: auto;
    }
    a.contact{
        padding-top: 1%;
         margin-top: 1%;
    }
    .tiny{
        display: block;
         font-size: 2em;
         text-align: center;
    }
}

