html {
  padding:0;
  margin:0;
 font-family: 'Raleway', sans-serif;
 color: #22313F;
 background-color: #FFF;
}

body {
  padding:0;
  margin:0;
 background-color: #FFF;
 font-family: 'Raleway', sans-serif;
 font-size: 18px;
 line-height: 35px;
 color: #22313F;
}

.clearfix {
  overflow: auto;
}

.lightBlue {
  background-color: #E4F1FE;
}

.education-entry, .work-entry {
  padding-left: 5%;
  padding-right: 5%;
}
.project-entry { 
  display: inline-block;
   padding: 4%;
}

h1 {
   font-family: 'Merriweather', serif;
    font-size: 75px;
    line-height: 70px;
    display: inline;
    font-weight: normal;
    color: #22313F;
    margin-left: 20px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 42px;
  color: #22313F;
  line-height: 29px;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

h3 {
  font-family: 'Merriweather', serif;
  line-height: 22px;
  text-align: center
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #22313F;
  line-height: 22px;
   padding:10px;
  padding-left: 150px;
  padding-right: 5%;
}

h5 {
  color: #3A539B;
}

.date-text {
  font-size: 16px;
  color: #22313F;
  line-height: 16px;
  float: left;
}

.location-text {

  font-size: 16px;
  color: #22313F;
  line-height: 16px;
  float: right;

}

p {
  font-size: 16px;
  color: #22313F;
  line-height: 21px;
}

a {
  font-family: 'Merriweather', serif;
  color: #3A539B;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-size: 36px;
}

#picMessage {
  font-size: 20px;
  line-height: normal;
  text-align: center;
}

.white-text {
  font-weight: bold;
  color: #ECF0F1;
}

.gray {
  background-color: rgb(108,122,137);
  padding-bottom: 10px;
  clear:both;
  display: block;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 2px solid #22313F;
  background-color: rgb(108,122,137);
  border-radius: 20px;
  line-height: normal;
  margin: 2px;
}

.cer-content {
  padding: 2.5% 5% 5% 2.5%;
}

ul {
  list-style-type: none;
}

.biopic {
  width: 100%;
  height:auto;
  border: 2px solid #22313F;
  border-radius: 50px;
  margin: 3px;

} 

.project-entry img{
  width:100%;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #E4F1FE;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }

  .welcome-message {
    display: none;
  }

  #footerContacts {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#skillsH3 {
  margin: 0 10px;
  padding: 0 10px;
  display: flex;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
#skillsH3{
  display: none;
    }
}

/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%; 
}

.span_6_of_12 {
  width: 49.2%; 
}

.span_5_of_12 {
  width: 40.73%; 
}

.span_4_of_12 {
  width: 32.26%; 
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%; 
}

.span_1_of_12 {
  width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%; 
  }
  .span_11_of_12 {
    width: 100%; 
  }
  .span_10_of_12 {
    width: 100%; 
  }
  .span_9_of_12 {
    width: 100%; 
  }
  .span_8_of_12 {
    width: 100%; 
  }
  .span_7_of_12 {
    width: 100%; 
  }
  .span_6_of_12 {
    width: 100%; 
  }
  .span_5_of_12 {
    width: 100%; 
  }
  .span_4_of_12 {
    width: 100%; 
  }
  .span_3_of_12 {
    width: 100%; 
  }
  .span_2_of_12 {
    width: 100%; 
  }
  .span_1_of_12 {
    width: 100%; 
  }
}