body {
  padding:0;
  margin:0;
 background-color: #FFF;
 font-family: 'Raleway', sans-serif;
 font-size: 18px;
 line-height: 35px;
 color: #303030;
}

header {
  text-align: center;
}

.welcomeMessage{
  position: absolute;
  z-index: 100;
  top: 150px;
  left: 75px;
  font-size: 20px
}

.education-entry, .work-entry {
  padding-left: 5%;
  padding-right: 5%;
}

.project-entry { 
  display: inline-block;
   padding: 4%;
}

h1 {
   font-family: 'Merriweather', serif;
    font-size: 75px;
    line-height: 120%;
    display: inline;
    font-weight: normal;
    color: #1F0C1F;
    margin-left: 50px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 42px;
  color: #1F0C1F;
  line-height: 29px;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

h3 {
  font-family: 'Merriweather', serif;
  line-height: 22px;
  text-align: center
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #1F0C1F;
  line-height: 22px;
   padding:10px;
  padding-left: 150px;
  padding-right: 5%;
}

.date-text {
  font-size: 16px;
  line-height: 16px;
  float: left;
}

.location-text {

  font-size: 16px;
  line-height: 16px;
  float: right;

}

p {
  font-size: 16px;
  line-height: 21px;
  float: right;
}

a {
  font-family: 'Merriweather', serif;
  color: #1F0C1F;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-size: 28px;
}

.gray {
  background-color: #ECF0F1;
  padding-bottom: 10px;
  clear:both;
  display: block;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 2px solid #1F0C1F;
  background-color: #ECF0F1;
  border-radius: 20px;
  line-height: normal;
  margin: 5px;
  text-align: center;
  width: 20%;
}

.cer-content {
  padding: 2.5% 5% 5% 2.5%;
}

ul {
  list-style-type: none;
}

.biopic {
  border: 1px solid #1F0C1F;
  width: 100%;
  border-radius: 50px;
  position: relative;
  z-index: 0;
}

.project-entry img{
  width:100%;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #ECF0F1;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: #1F0C1F;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  #map {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 415px) {
body {
  font-size: 1em;
}

h3, #skills, .welcomeMessage, .mapdiv {
  display: none;
}

}

/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%; 
}

.span_6_of_12 {
  width: 49.2%; 
}

.span_5_of_12 {
  width: 40.73%; 
}

.span_4_of_12 {
  width: 32.26%; 
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%; 
}

.span_1_of_12 {
  width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%; 
  }
  .span_11_of_12 {
    width: 100%; 
  }
  .span_10_of_12 {
    width: 100%; 
  }
  .span_9_of_12 {
    width: 100%; 
  }
  .span_8_of_12 {
    width: 100%; 
  }
  .span_7_of_12 {
    width: 100%; 
  }
  .span_6_of_12 {
    width: 100%; 
  }
  .span_5_of_12 {
    width: 100%; 
  }
  .span_4_of_12 {
    width: 100%; 
  }
  .span_3_of_12 {
    width: 100%; 
  }
  .span_2_of_12 {
    width: 100%; 
  }
  .span_1_of_12 {
    width: 100%; 
  }
}
@media only screen and (max-width: 450px) {
  body {
    font-size: 12px;
  }
  .biopic{
    width: 100%
  }

  .flex-item {
    width: 100%
  }

  h1 {
    font-size: 28px
  }

   #map {
    display: none;
  }
  h2 > span {
    display: none;
  }
}