html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 101%;
}

body {
    font-size: 62.5%;
    line-height: 1;
    font-family: Arial, Tahoma, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

p {
    font-size: 1.2em;
    line-height: 1.0em;
    color: #333;
}

body {
    background-color: #000;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 2%;
    border: 2px solid silver;
    background-color: #000;
    font-size: 2em;
}

a:hover {
    color: #000;
    background-color: #fff;
}

img {
    width: 20%;
    margin: 5% 40%;
}

.hidden {
    display: none;
}

.navBar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.term,
.def {
    margin-bottom: 10%;
}

.card {
    width: 60%;
    padding: 7% 0% 7% 0%;
    margin: 2% 20%;
    text-align: center;
    font-size: 3em;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    word-wrap: break-word;
    height: 100%;
}

.buttons {
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-size: 1em;
}

button {
    font-size: 1em;
    color: #fff;
    margin: 0 3%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.flip {
    background-color: blue;
    margin-bottom: 2%;
}

.score {
    text-align: right;
    margin: 1% 5%;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://www.wbstudiotour.com/sites/all/themes/wb_hollywood/logo.svg') 50% 50% no-repeat rgb(1, 1, 1);
}

canvas {
    width: 86%;
    margin: 0 7%;
}

.google-map {
    height: 600px;
    width: 90%;
    margin: 0 5%;
}

ul {
    list-style-type: none;
    border-radius: 10px;
    color: #fff;
    padding: 1%;
}

.gm-style-iw {
    background-color: #2C3E50;
    font-family: "Raleway", serif;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 100% !important;
    margin: 0;
    top: 0 !important;
    left: 0 !important;
}

.name {
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 1% 25%;
}

body {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.built,
.common,
.lessCommon,
.tech {
    font-size: 2em;
    margin: 1% 25%;
    width: 50%;
    border-radius: 10px;
    border: 5px solid silver;
    padding: 1%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.common {
    background-color: #791214;
    color: #fff;
}

.tech {
    background-color: red;
}

.infoTainer {
    width: 100%;
    top: 35%;
}

input {
    margin: 2%;
    padding: 1%;
    color: #fff;
    background-color: black;
    border: 5px solid silver;
    cursor: pointer;
    font-size: 2em;
    border-radius: 10px;
}

input:hover {
    color: #000;
    background-color: #fff;
}

.hide {
    position: fixed;
    top: 15%;
    left: 1%;
}

.buttonArea {
    width: 100%;
    height: 100%;
    background-color: #000;
}

h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    width: 100%;
    background-color: #000;
    padding: 1% 0;
}

p {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 1%;
}

a {
    color: #fff;
    font-size: 2em;
    margin: 5%;
}

.gameName {
    width: 100%;
    text-align: center;
    font-size: 2em;
    z-index: 9999;
}

.correctGuess {
    display: flex;
    justify-content: space-around;
}

#youLose {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: red;
    font-size: 3em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 4em;
}

.discovered {
    border: 2px solid green;
    padding: 1%;
}

.undiscovered {
    border: 2px solid red;
    padding: 1%;
}

@media screen and (max-width: 480px) {
    html,
    body,
    .navbar,
    ul,
    li,
    .buttons,
    .top {
        width: 100%;
    }
    ul {
        padding: 0;
        width: 86%;
        margin: 0 7%;
    }
    canvas {
        width: 76%;
        margin: 0 12%;
    }
    .google-map {
        height: 400px;
        width: 90%;
        margin: 0 5%;
    }
    img {
        width: 40%;
        margin: 2% 30%;
    }
    input {
        width: 100%;
        height: 20%;
        margin: 2%;
        font-size: 2em;
    }
    .hide {
        width: 15%;
        height: 5%;
        font-size: 1em;
    }
}
