html{
	width: 100%;
	height:100%;
}
body{
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Georgia, Serif;
	background-color: rgb(100,0,0);	
	color: #D4AF37;
}
canvas {
	width: 98%;
	height: 80%;
	margin-left: -1%;
	border: 5px ridge #D4AF37;
}
.instructions {
	font-size: 1em;
	border: 2px ridge rgb(192,192,192);
	margin: 2% 20%;
	background-color: rgb(75,0,0);
}
.game {
	font-size: 2em;
}