html {
  width: 100%;
}
body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

.resume, .references, .sample, .gotosite, .header {
  box-shadow: 0px 3px 5px #333;
  height: 20%;
  text-align: center;
  color: #fff;
  width: 93%;
  margin: 3% auto;
  padding: 0;
  position: relative;
  border-radius: 10px;
  padding-top: 1%;
}

.header {
  position: fixed;
  width: 100%;
  color: #FFF;
  background-color: #000;
  z-index: 1000;
  margin: 0;
  top:0;
  left: 0;
  border-radius: 0;
  height: 200px;
  font-family:inherit;
  text-align:center;
  display:block;
}

.resume {
  margin-top: 250px;
  background-color: #009688;
}
.references {
  top: 26%;
  background-color: #2196F3;
}
.sample {
  top: 52%;
  background-color: #00BCD4;
}
.gotosite {
  top: 78%;
  background-color: #673AB7;
  margin-bottom: 100%;
}
.gotosite a {
  color: #fff;
  text-decoration: none;
}

input {
  width: 30%;
}

.wufoo-form-container {
  margin: auto;
  background-color: #FFF;
}

input .btTxt {
  background-color: #009688;
}

form li.buttons input{
  background-color: #009688;
}

@media screen and (max-width: 480px) {
  .resume {
    margin-top: 25%;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .resume {
    margin-top: 20%;
  }
}
