body {
    font-family: "Raleway";
    color: #E8F3F8;
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 1);
}
main {
    flex: 1 0 auto;
}

a,
a:link,
a:visited,
a:hover,
a:active,
.dropdown-content li > a {
    color: #E8F3F8;
}

.dropdown-content li {
    -webkit-transition: .5s;
    /* Safari */
    transition: .5s;
}

.dropdown-content li:hover {}

.nav-wrapper,
nav,
footer,
footer.page-footer {
    background-color: rgba(69, 90, 100, 1);
}

footer {
    border-top: 1px solid rgba(236, 239, 241, 1);
    background-color: rgba(2, 136, 209, 1);
    padding: 2%;
    font-size: 1.5rem;
}

footer.page-footer {
    font-size: 1.5rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 8em;
    fill: rgba(236, 239, 241, 1);
}

.resume h2 {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

.side-nav > li {
    margin: 5% 0;
    -webkit-transition: .5s;
    /* Safari */
    transition: .5s;
}

.side-nav > li:hover {
    border: 1px solid rgba(187, 222, 251, 1);
}

.side-nav {
    border-right: 1px solid rgba(187, 222, 251, 1);
}

.contact div,
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.contact > div a {
    -webkit-transition: .5s;
    /* Safari */
    transition: .5s;
}

.contact > div a:hover {
    color: #0188C6 !important;
}

.side-nav li {
    padding: 0;
}

.under {
    font-size: 2rem;
}

.job,
.edu,
.online {
    font-size: 1rem;
}

.top a {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.middle,
.bottom {
    display: flex;
    justify-content: space-between;
}

.divider {}

.foot {
    width: 30%;
}

.footerContact,
h5 {
    font-size: 1em;
    margin: 1% 3%;
    width: 33%;
}

h5 {
    font-size: 2em;
}

.collapsible {
    margin: 2% 5%;
    width: 90%;
}

.collapsible-header {
    color: #1a237e;
    font-size: 1.75rem;
    height: 2em;
}

.card-panel,
.card-panel a {
    color: rgba(69, 90, 100, 1);
    -webkit-transition: .5s;
    /* Safari */
    transition: .5s;
}

.card-panel {
    border: 1px solid rgba(236, 239, 241, 1);
}

.card-panel.contact,
.card-panel.contact a {}

.card-panel:hover,
.card-panel:hover > a,
.card-panel:hover a {}

.dates {
    text-align: right;
}

.title,
.top {
    font-size: 1.5rem;
}

.collapsible-body p {
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
}

.footerLinks {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

[class*="mdi-"] {
    font: 24/1 "Material Design Icons" !important;
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

.loader {
    width: 100vw;
    text-align: center;
    height: 120vh;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preloader-wrapper.big.active {
    top: 40%;
}

.icon {
    width: 5%;
    float: left;
    margin: 0 1% 1% 0;
}

.socialCon {
    width: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.text-right {
    text-align: right;
}


svg:not(:root) {
    overflow: visible;
}

/*circle {
    -webkit-transition: .35s;
    transition: .35s;
    animation-fill-mode: backwards;
}
/*circle:hover {
    r: 5000;
}
/*circle:hover ~ circle {  r: 0;
}*/

@keyframes circles {
    from {filter: drop-shadow(2px 2px 20px #fff)}
    to {filter: drop-shadow(8px 8px 20px #fff)}

}
@keyframes gone {
    from {r: 80;}
    to {r: 0;}
}

/* The element to apply the animation to */
circle {
    r: 80;
    animation-name: circles;
    animation-duration: .5s;
}
circle:hover ~ circle {
    animation-name: gone;
    animation-duration: .25s;
}