.card {
    width: 50%;
    padding: 7% 0% 7% 0%;
    margin: 2% 25%;
    text-align: center;
    font-size: 3em;
    border: 1px solid #000;
    background-color: #F4DE71;
}

.buttons {
    width: 80%;
    margin: 0 10%;
    text-align: center;
}

button {
    font-size: 1em;
    color: #fff;
    padding: 1%;
    margin: 0 3%;
}

.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
.flip {
    background-color: blue;
}
.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

@media and screen (max-width: 480px) {
    .card {
        width: 100%;
        margin: 0;
    }
}