html {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Georgia, "Times New Roman", Serif;
	background: rgb(200, 200, 200);
}

.container-fluid {
	width: 100%;
	padding: 0;
	height: auto;
	margin: 0;
	text-align: center;
}

.col-md-12 {
	font-size: 2em;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

.back {
	background-color: rgb(250, 250, 250);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 2% 0;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.col-md-3 {
	font-size: 1.2em;
	padding: 0;
	float: none;
	display: inline;
}

.choices{
	justify-content: space-around;
}

.right {
	text-align: right;

}

.left {
	text-align: left;

}

ul {
	list-style: none;
	font-family: "Helvetica Neue", sans-serif;
}

.row {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	float: none;
}

.col-md-6 {
	font-size: 1.75em;
	float: left;
	width: 50%;
	text-align: left;
}

select, input{
	text-align: center;
}

.snippet {
	font-style: oblique;
	background-color: rgb(250, 250, 250);
	padding-right: 2%;
}

.selectable .ui-selecting {
	width: 25%;
	background: #fff;
	color: #000;
	border-color: #000; 
}

.s1 .ui-selected { 
	background: #E01919;
	color: white;
	border-color: #fff; 
}

.s2 .ui-selected { 
	background: #E07319;
	color: white;
	border-color: #fff; 
}

.s3 .ui-selected { 
	background: #0F8686;
	color: white;
	border-color: #fff; 
}
.s4 .ui-selected { 
	background: #14B314;
	color: white;
	border-color: #fff; 
}

.selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 25%; 
}

.mb_initials {
	margin: 3px; 
	border-radius: 4px;
	background-color: rgb(250, 250, 250);
	        box-shadow: 0 8px 6px -6px black;
}

.s1 li { 
	border: 2px solid #E01919;
}

.s2 li { 
	border: 2px solid #E07319;
}

.s3 li { 
	border: 2px solid #0F8686;
}

.s4 li {
	border: 2px solid #14B314;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
}

.flexbox2 {
	display: flex;
	flex-wrap: nowrap;
}

.ch {
	width: 10%;
	padding: 0;
	margin: 0;
	font-size: 2.5em;
}

.choice1 {
	color: #E01919;
}

.choice2 {
	color: #E07319;
}

.choice3 {
	color: #0F8686;

}

.choice4 {
	color: #14B314;

}

.leftHead{
	order: 1;
	flex-basis: 50%;
	padding: 0;
}

.rightHead{
	order: 2;
	flex-basis: 49%;
	padding: 0;
}

.leftContent {
	order: 3;
	flex-basis: 50%;
	padding: 0;
}

.rightContent{
	order: 4;
	flex-basis: 49%;
	padding: 0;
}
@media screen and (max-width: 480px) {
	.flexbox {
		flex-wrap: wrap;
	}

	.col-md-6 {
		width: 100%;
		padding: 0;
		font-size: 1.5em;
	}

	.small {
		display: none;
	}

	.leftHead{
		order: 1;
		flex-basis: 100%;
		padding: 0;
	}

	.rightHead{
		order: 3;
		flex-basis: 100%;
		padding: 0;
	}

	.leftContent {
		order: 2;
		flex-basis: 100%;
		padding: 0;
	}

	.rightContent{
		order: 4;
		flex-basis: 100%;
		padding: 0;
	}

}