/* html, body, header */
html {
  width: 100%;
  overflow-x: hidden;
  font-family: "Raleway", serif;
}

body {
  background-color: #fff;
  background-image: url(images/wall.jpg);
  background-size: cover;
  overflow-x: hidden;
  font-family: "Raleway", serif;
  width: 100%;
  color: #fff;
  list-style-type: none;
}
ul {
  list-style-type: none;
}

.header {
  background-color: #673AB7;

  width: 100%;
  padding: 3%;
  color: #000;
  min-height: 10%;
  color: #fff;
  text-shadow: 1px 1px 1px #311B92;
  text-align: center;
  font-size: 3em;
  border-bottom: 4px dashed #fff;
  border-top: 4px dashed #fff;
  box-shadow: 0 0 0 4px #673AB7, 0 5px 15px 5px rgba(10,10,0,0.5);
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
/* menu, headings */

#listOfTypes, .items {
  top:100px;
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#listOfTypes li {
  text-shadow: 1px 1px 1px #F8BBD0;
  margin: 1% 1%;
  border: 1px dashed #fff;
    background-color: #880E4F;
  padding: 1%;
  border-radius: 10px;
  font-size: 1em;
  box-shadow: 0 0 0 4px #880E4F, 0 5px 15px 5px rgba(10,10,0,0.5);
}

.headings {
  text-shadow: 1px 1px 1px #B71C1C;
  font-size: 3em;
  width: 50%;
  margin: 2% auto;
  padding: 1%;
  text-align: center;
  background-color: #F44336;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 4px #F44336, 0 5px 15px 5px rgba(10,10,0,0.5);
}

/* items */


/* formatting */
#featuredType {
  text-shadow: 1px 1px 1px #FF6F00;
  width: 100%;
  margin-top:10%;
  color: #fff;
  background-color: #FFC107;
  padding: 2%;
  text-align: center;
  font-size: 4em;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 4px #FFC107, 0 5px 15px 5px rgba(10,10,0,0.5);
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

li {
  margin: 5% 1%;
  border: 1px dashed #fff;
  padding: 1%;
  border-radius: 10px;
  font-size: 1.5em;
}

#quote li {
  font-size: 1.75em;
  text-shadow: 1px 1px 1px #C51162;
  background-color: #E91E63;
  box-shadow: 0 0 0 4px #E91E63, 0 5px 15px 5px rgba(10,10,0,0.5);
}

#pros li {
  border-color: #000;
  color: #000;
  text-shadow: 1px 1px 1px #C5CAE9;
  background-color: #00E5FF;
  box-shadow: 0 0 0 4px #00E5FF, 0 5px 15px 5px rgba(10,10,0,0.5);
}

#cons li {
  text-shadow: 1px 1px 1px #311B92;
  background-color: #00E676;
  box-shadow: 0 0 0 4px #00E676, 0 5px 15px 5px rgba(10,10,0,0.5);
}

#work li {
  text-shadow: 1px 1px 1px #311B92;
  background-color: #FF5722;
  box-shadow: 0 0 0 4px #FF5722, 0 5px 15px 5px rgba(10,10,0,0.5);
}
#famous li {
  text-shadow: 1px 1px 1px #3E2723;
  background-color: #607D8B;
  box-shadow: 0 0 0 4px #607D8B, 0 5px 15px 5px rgba(10,10,0,0.5);
}
#hell li {
  text-shadow: 1px 1px 1px #FF5722;
  font-size: 1.75em;
  background-color: #BF360C;
  box-shadow: 0 0 0 4px #BF360C, 0 5px 15px 5px rgba(10,10,0,0.5);
}
#goToTop {
  background-color: #673AB7;
  width: 100%;
  padding: 3%;
  color: #fff;
  text-shadow: 1px 1px 1px #311B92;
  text-align: center;
  font-size: 3em;
  border-bottom: 4px dashed #fff;
  border-top: 4px dashed #fff;
  box-shadow: 0 0 0 4px #673AB7, 0 5px 15px 5px rgba(10,10,0,0.5);
}


.selected {
  border: 1px dashed #000 !important;
  color: #000;
  background-color: #FFEB3B !important;
  box-shadow: 0 0 0 4px #FFEB3B, 0 5px 15px 5px rgba(10,10,0,0.5) !important;
}
