<div class="green w3-round-large w3-card-24 w3-margin w3-padding">
    <h2>{{title}}</h2>
    <div class="w3-large">{{heading}}
    <div class="w3-right">{{subheading}}</div></div>
</div>
<hr />
<ul class="green w3-ul w3-margin w3-round-xlarge w3-card-8" id="exp">

    <!-- Iterate over jobs -->
    <li *ngFor="let job of jobs" class="w3-card w3-padding-0">
        <a href="{{job.url}}" class="w3-row" rel="nofollow" target="_none">

        <img src="img/logos/{{job.tag}}-sqr.png" class="w3-col m2 w3-hide-small w3-image w3-margin w3-round-large" alt="{{job.employer}}">
        <!-- Link -->
        <div class="w3-rest jobs">
                <h5>{{job.employer}}</h5>
                <h6>{{job.title}}</h6>
            <span>{{job.dates}} - </span>
            <span>{{job.location}}</span>
            <ul class="w3-ul">
                <li>{{job.description[0]}}</li>
                <li>{{job.description[1]}}</li>
                <li>{{job.description[2]}}</li>
            </ul>
        </div>
        </a>
    </li>
</ul>
