<div>
      <h3>{{type.name}}</h3>
      <div>{{type.snippet}}</div>
      <ul>
        <li>{{type.strengths[0]}}</li>
        <li>{{type.strengths[1]}}</li>
        <li>{{type.strengths[2]}}</li>
        <li>{{type.strengths[3]}}</li>
        <li>{{type.strengths[4]}}</li>
      </ul>
      <ul>
        <li>{{type.weaknesses[0]}}</li>
        <li>{{type.weaknesses[1]}}</li>
        <li>{{type.weaknesses[2]}}</li>
        <li>{{type.weaknesses[3]}}</li>
        <li>{{type.weaknesses[4]}}</li>
      </ul>
      <ul>
        <li>{{type.famous[0]}}</li>
        <li>{{type.famous[1]}}</li>
        <li>{{type.famous[2]}}</li>
        <li>{{type.famous[3]}}</li>
        <li>{{type.famous[4]}}</li>
      </ul>
      <div>{{type.hell}}</div>
</div>