html {
  width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
.header {
  width: 100%;
  background-color: #3F51B5;
  padding: 2% 0;
  text-align: center;
  position: fixed;
  border-bottom: 2px dashed #fff;
  box-shadow: 0 0 0 4px #3F51B5, 0px 5px 15px 5px rgba(10, 10, 0, 0.5);
  z-index: 100;
}
h1 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}
h2 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}
.menu {
  width: 100%;
  margin: 0;
}
.serviceMenu {
  width: 75%;
}
.menu li, .serviceMenu li {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  border-radius: 10px;
  border: 1px dashed #fff;
  padding: 1%;
  font-size: 85%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0px 0px 0px 3px rgba(0, 0, 0, .7);
}
.menu li:hover, .serviceMenu li:hover {
  background-color: rgba(255, 255, 255, .8);
  color: #000;
  border: 1px dashed #000;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, .2), 0px 0px 0px 3px rgba(255, 255, 255, .7);
  cursor: pointer;
}
ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
li {
  display: inline;
}
h3 {
  width: 100%;
}
.hidden {
  display: none;
}
.title, .webServices {
  width: 100%;
  text-align: center;
  margin: 0;
}
.desc {
  text-align: left;
}
.container-fluid {
  padding: 0;
}
.footer {
  text-align: center;
  padding: 0;
  width: 100%;
  background-color: #3F51B5;
  position: fixed;
  bottom: 0%;
  color: #fff;
  border-top: 2px dashed #fff;
  box-shadow: 0 0 0 4px #3F51B5, 0px -5px 15px 5px rgba(10, 10, 0, 0.5);
}
h5 {
  text-align: center;
}
.topWrapper {
  display: flex;
  margin: 10% 0;
  background-color: rgba(255, 255, 255, .5);
  padding: 5% 0;
  width: 100%;
}
ul.share-buttons {
  width: 75%;
  list-style: none;
  padding: 0;
}
ul.share-buttons li {
  display: inline;
}
.middle {
  min-height: 750px;
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 0 0 0 4px #000, 0px -5px 15px 5px rgba(10, 10, 0, 0.5);
}
.white {
  position: fixed;
  color: rgba(0, 0, 0, .9);
  top: 50%;
  background-color: rgba(0, 0, 0, .0);
  display: flex;
  width: 100%;
}
.white li:hover {
  color: rgba(255, 255, 255, .9);
  background-color: #000;
  box-shadow: 0 0 0 4px #000, 0px -5px 15px 5px rgba(0, 0, 0, 0.5);
  border: 1px dashed rgba(255, 255, 255, .9);
}
.white li, img {
  border: 1px dashed rgba(0, 0, 0, .9);
  padding: 1%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 0 4px #fff, 0px -5px 15px 5px rgba(10, 10, 0, 0.5);
}
.social, .social2 {
  color: #fff;
  position: fixed;
  top: 0;
}
.white li a:hover, .white li a {
  color: inherit;
}
.picture {
  position: fixed;
  width: 20%;
  margin: 0;
  box-shadow: 0 0 0 4px #fff;
  z-index: 1000;
  border-radius: 10px;
  top: 220px;
}
.sub {
  margin-top: 5%;
}
.center {
  margin-left: 10%;
}
button {
  border-radius: 10px;
  padding: 2%;
  color: #fff;
  background-color: #009688;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 4px #009688, 0px -5px 15px 5px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
}
button:hover {
  background-color: #3F51B5;
  box-shadow: 0 0 0 4px #3F51B5, 0px -5px 15px 5px rgba(0, 0, 0, 0.5);
}
.pDesc {
  margin: 5%;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact li {
  margin: 1%;
}
.contact li a {
  color: #fff;
}
.contact li a:hover, .contact li:hover {
  color: #000;
}
.footer h3 span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.dark {
  color: #000;
  margin: 5% 0;
  font-size: 2em;
}
.spacer {
  min-height: 500px;
}
.price {
  color: #000;
  float: right;
  font-size: 2em;
}
#fixmenu {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  background: #3F51B5;
  z-index: 1200;
}
.menu-fixed {
  float: right;
  text-align: right;
  padding: 4px 0 5px 0;
  list-style-type: none;
}
.menu-fixed li {
  display: inline;
}
.menu-fixed a {
  font-size: 0.9em;
  color: #fff;
  text-shadow: 1px 1px #5E8BC5;
  padding: 0 0 0 10px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  .menu {
    width: 100%;
  }
  .serviceMenu {
    width: 100%;
  }
  .menu li, .serviceMenu li {
    border-radius: 10px;
    padding: 1%;
    margin: 5% 0;
    width: 100%;
    font-size: 1em;
    float: left;
  }
  .hidden {
    display: none;
  }
  .footer {
    position: static;
  }
  .topWrapper {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
  }
  ul.share-buttons {
    width: 100%;
  }
  .white {
    display: none;
  }
  .social {
    display: none;
  }
  .picture {
    position: static;
    width: 100%;
  }
  .dark {
    font-size: 1em;
  }
  .spacer {
    min-height: 250px;
  }
  .price {
    font-size: 1em;
  }
  #fixmenu {
    display: none;
  }
  .menu-fixed {
    display: none;
  }
  .middle {
    display: none;
  }  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
.white {
    display: none;
  }
  .menu {
  width: 100%;
  margin: 0;
}
.serviceMenu {
  width: 100%;
}
  #fixmenu {
    display: none;
  }
  .menu-fixed {
    display: none;
  }
  .middle {
    display: none;
  } 
}


