html,
body {
    font-family: 'Archivo Narrow', 'Helvetica Neue', Arial, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
}


a {
    color: inherit;
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
}

.gems {
  display: none;
}