<!-- Writing Samples -->
<div class="blue w3-round-large w3-card-24 w3-margin w3-padding">
    <h2>{{title}}</h2>
    <div class="w3-large">{{heading}}
    <div class="w3-right">{{subheading}}</div></div>
</div>
<hr />
<ul class="blue w3-ul w3-margin w3-round-xlarge w3-card-8" id="samples">
    <!-- Iterate over writings -->
    <li *ngFor="let sample of samples" class="w3-padding-0">
        <a href="{{sample.url}}" class="w3-row" target="_none">
            <img src="{{sample.image}}" class="w3-col m2 w3-hide-small w3-image w3-margin w3-round-large" alt="{{sample.name}}">
            <!-- Link -->
            <div class="w3-rest samples">
                <h5>{{sample.title}}<span *ngIf="sample.location"><span class="w3-small"> in </span><i>{{sample.location}}</i></span></h5>
                <h6>{{sample.type}}</h6>
                <ul class="w3-ul">
                    <li>{{sample.description}}</li>
                </ul>
            </div>
        </a>
    </li>
</ul>
