html,
body {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gameOver,
.gameGuesses {
    width: 40%;
    float: right;
    margin: 2% 5%;
    font-size: 1.1em;
}

.gameGuesses {
    float: left;
}

.mapmap {
    width: 80%;
    height: 600px;
    margin: 2% 10%;
}

.google-map {
    height: 100%;
    width: auto;
}

.gameName {
    width: 100%;
    text-align: left;
    font-size: 2em;
    margin: 1% 3%;
}

.navBar {
    width: 100%;
    text-align: center;
    margin: 2%;
}

.navBar button,
.navBar input,
{
    padding: 1% 2%;
    border-radius: 10px;
    background-color: #000;
    width: 20%;
    color: #fff;
}

.instructions {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 2% 0;
}

.incorrectDisclaim {
    font-size: .75em;
}

.result {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

li {
    margin: 0 3%;
}

h2 {
    text-align: center;
    display: inline-block;
    margin: 1%;
}

.disclaimer {
    font-size: .8em;
    text-align: left;
    margin: 1%;
}

a {
    color: #fff;
}

.term,
.def {
    margin-bottom: 10%;
}

.card {
    width: 60%;
    padding: 7% 0% 7% 0%;
    margin: 2% 20%;
    text-align: center;
    font-size: 3em;
    border: 1px solid #000;
    background-color: #F4DE71;
    word-wrap: break-word;
    height: 350px;
}

.buttons {
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-size: .5em;
}

button {
    font-size: 1em;
    color: #fff;
    margin: 0 2%;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    text-transform: none;
}

.card button {
    font-size: .5em;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.flip {
    background-color: blue;
    margin-bottom: 2%;
}

.score {
    text-align: right;
    margin: 1% 5%;
}

.form {
    display: flex;
    justify-content: space-around;
    align-itmes: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.fieldset {
    border-radius: 10px;
    width: 55%;
    text-align: center;
}

.submit {
    margin: 5% 20%;
    width: 60%;
}

.fieldset input,
.fieldset select,
.fieldset textarea {
    width: 100%;
    margin: auto;
}

.boxTwo input {
    width: auto;
    margin: 1%;
}

.boxTwo label {
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    margin: 2%;
    display: block;
}

.firstBox input,
.firstBox select,
.firstBox textarea {
    width: 30%;
    margin: 3%;
}

.onTour {
    background-color: #fff;
    background-color: rgba(250, 250, 250, .8);
    color: #000;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media screen and (max-width: 1028px) {
    .gameOver,
    .gameGuesses {
        width: 100%;
        margin: 2%;
        float: none;
    }
    .navBar input {
        width: 40%;
        margin: 5%;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        width: 100%;
        margin: 0;
        padding: 30%;
        font-size: 2em;
    }
    button {
        padding: 3%;
        font-size: 1.5em;
        margin-top: 5%;
    }
}

