<div class="w3-modal w3-teal" id="gameInfo">
    <div class="w3-modal-content w3-cyan w3-text-white">
        <h2 class="w3-xxxlarge w3-center">{{modal.title}}</h2>
        <img src="{{modal.image}}" alt="game image" class="w3-image w3-center">
        <hr />
        <div class="w3-align-left w3-panel w3-purple w3-padding w3-xlarge" id="modal-info">
            {{modal.info}}
        </div>
        <hr />
        <button class="w3-xlarge w3-btn w3-teal w3-border w3-border-white w3-hover w3-hover-white">{{modal.text}}</button>
    </div>
</div>