<div class="scoreboard w3-grey w3-text-white">
	<div class="w3-xlarge w3-margin">Lives: 
		<span id="lives" class="w3-badge w3-teal">{{scoreboard.lives}}</span>
	</div>
	<div class="w3-container">
		<h2 class="w3-xlarge">Your Collection</h2>
		<div class="w3-small" id="empty">
			Your collection is empty!
		</div>
		<div class="w3-bar">
        	<img *ngIf="scoreboard.collection[0]" src="images/shoes/skates.png" class="w3-image w3-col m3 s1" alt="skates">
        	<img *ngIf="scoreboard.collection[1]" src='images/shoes/rain.png' class="w3-image w3-col s1 m3" alt="rain">
        	<img *ngIf="scoreboard.collection[2]" src='images/shoes/clown.png' class="w3-image w3-col  m3 s1" alt="clown">
        	<img *ngIf="scoreboard.collection[3]" src='images/shoes/oxfords.png' class="w3-image w3-col  s1 m3" alt="oxfords">
        	<img *ngIf="scoreboard.collection[4]" src='images/shoes/thighs.png' class="w3-image w3-col m3 s1" alt="thighs">
        	<img *ngIf="scoreboard.collection[5]" src='images/shoes/rubyred.png' class="w3-image w3-col m3 s1" alt="ruby reds">
        </div>
    </div>
</div>