html {
  overflow-x: hidden;
  width: 100%;
  font-family: "Raleway", serif;
}

body {
  margin: 1%;
  font-family: "Raleway", serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", serif;
}

ul {
  list-style-type: none;
}

.hidden {
    display: none;
}
